html, body
{
	height:100%;
	width: 100%;
	background-color: #2E86AB; 

}

/* Arcane font */
/*@font-face {
font-family: "Slim";
src: url("fonts/Slim-Extreme.ttf");
}

p {
	font-family: "Slim";
}*/
@font-face {
	font-family: "Guru";
	src: url("fonts/Atures.ttf");
}
#titles-head {
	font-family: "Guru";
}