
#the-main
{
    min-height: 100%;
    min-width: 100%;
}

/* NAVBAR */
.classical-nav{
    position: inherit;
    background-color: #242427;
}

.no-shadows {
    box-shadow: none!important;
    border: none!important;
    border-bottom: 0px solid orange !important;
}

.masked-nav{
    position: fixed;
    background-color: #242427;
    z-index: 9999;
    height: 2%;
    transition: height 1s ease;
}

.masked-nav ul{
    display: none;
}

.masked-nav:hover{
    position: fixed;
    background-color: #242427;
    z-index: 9999;
    height: 7%;
    padding-top: 0%;
}

.masked-nav:hover ul{
    display:inherit;
}
.masked-nav .brand-logo{
    height: 200%;
    width: 10%;
    background-color:#242427;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.masked-nav:hover .brand-logo{
    height: 0%;
    width: 10%;
    background-color:#242427;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}
#arcane-logo
{
    max-height: 70px;
    max-width: 70px;
}



/* HOME PAGE */
body
{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}
.illustration
{
    max-height: 55%;
    max-width: 55%;
    border-radius: 40%;
    opacity: 0.5
}

.transparent
{
    background-color: aqua;
}
.content
{
    top:10%;
    margin-top: 10%;
}
.titlesque
{
    
    background-color: blue;
    padding-top: 100px;
    align-content: center;
    text-align: center;
    min-height: 70%;
    vertical-align:middle;
    color:white;
    font-size:40;
}



.padding-site
{
    padding-left: 5%;
    padding-right: 5%;
}



/* SLIDES */

#first-slide{
    background-image: url("../../resources/img/monkey_fullscreen.png");
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment:local;
  background-position:center; 
    
    width: 100%;
    padding: 20px;
    padding-left: 40px;
    padding-top: 100px;
}
#first-slide h2
{
    color:white;
}
#first-slide h3
{
    padding-left: 10px;
    font-size: 30px;
    color:white;
}
#second-slide{
    background-color: white;
    padding:6%;
}
#third-slide{
    padding: 6%;
}
#fourth-slide{
    background-color:white;
    padding: 6%;
}


.page-footer{
    background-color: #242427;
}

#third-slide{
    background-color:#242427;
    color:white;
}

#fifth-slide{
    padding: 20%;
    color: white;
    background-image: url("../../resources/img/fireworks.png");
     background-repeat: no-repeat;
  background-attachment:local;
  background-position: center; 
}

.grenat{
    color:#9A2D39;
    display: inline-block;
}
.social{
    font-size:48px;
    
}
.social:hover{
    color:#9A2D39;
}
.container-fluid{
    background-color:#242427;
}

